.due_date_items_container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-top: 1.5rem;
  max-height: 22rem;
  overflow-y: auto;
  scrollbar-width: thin;
}

.due_date_items_container::-webkit-scrollbar {
  width: 6px;
}

.due_date_items_container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 3px;
}

.due_date_items_container::-webkit-scrollbar-thumb {
  background: #dde2f2;
  border-radius: 3px;
}

.due_date_items_container::-webkit-scrollbar-thumb:hover {
  background: #b1b6c7;
}

.due_date_item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.3rem;
  border: 1px solid #b1b6c7;
  border-radius: 0.4rem;
}

.due_date_item_title {
  font-family: Pretendard;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2rem;
  letter-spacing: 0em;
  text-align: left;
  color: #1b1b1b;
}

.due_date_item_date_description_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3rem;
}

.due_date_item_date_description {
  font-family: Pretendard;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.05rem;
  letter-spacing: 0em;
  text-align: left;
  color: #8d8d8d;
}

.timer-icon-urgent {
  filter: brightness(0) saturate(100%) invert(36%) sepia(94%) saturate(1235%)
    hue-rotate(352deg) brightness(97%) contrast(95%);
}

.timer-icon-warning {
  filter: brightness(0) saturate(100%) invert(71%) sepia(87%) saturate(456%)
    hue-rotate(4deg) brightness(95%) contrast(95%);
}

.timer-icon-safe {
  filter: brightness(0) saturate(100%) invert(42%) sepia(77%) saturate(495%)
    hue-rotate(90deg) brightness(92%) contrast(86%);
}
