/* 이번 달 거래 완료 컨테이너 */
.completed_count_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.8rem;
}

.count_trend {
  font-size: 1rem;
  font-weight: 500;
  color: #189554;
}

/* Count bar 너비 조정 */
.count_bar {
  width: 29.3rem;
}
