/* 프로필 요약 */
.profile_summary {
  display: flex;
  flex-direction: row;
  padding-top: 2rem;
  padding-bottom: 1.6rem;
  gap: 2rem;
}

.profile_summary_item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profile_name {
  font-size: 1.2rem;
  font-weight: 500;
  color: #1b1b1b;
  margin-bottom: 0.3rem;
}

.profile_job {
  font-size: 1rem;
  font-weight: 500;
  color: #8d8d8d;
}

.profile_location {
  font-size: 1rem;
  font-weight: 500;
  color: #8d8d8d;
}

.profile_contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.edit_button_container {
  display: flex;
  width: 100%;
}

.edit_button {
  width: 100%;
  max-width: 100%;
  background-color: #fff;
  color: #1b1b1b;
  border: 1px solid #b1b6c7;
  border-radius: 0.4rem;
  padding: 0.9rem 1.3rem;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  line-height: 1.2;
  gap: 0.5rem;
}
