.tableHeaderControls {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1.6rem;
}

.leftSection {
  width: 400px;
}

.rightSection {
  display: flex;
  gap: 0.8rem;
}
