.infoRow {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.infoBox {
  flex: 1;
  background-color: #e8edff;
  padding: 0.8rem;
  border-radius: 0.4rem;
}

.infoBox h4 {
  margin: 0 0 0.33rem 0;
  font-size: 0.9rem;
  color: #8d8d8d;
  font-weight: 500;
  font-family: "Pretendard-Medium";
}

.infoBox p {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Pretendard-Medium";
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} 