.login-widget {
  width: 100vw;
  background: #fff;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-widget__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
}

.login-widget__logo {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-widget__logo-img {
  display: block;
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
}

.login-widget__title {
  font-size: 2.6667rem;
  font-weight: 700;
  color: #222a3a;
  text-align: center;
  margin-bottom: 0.8rem;
}

.login-widget__desc {
  color: #8d8d8d;
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.login-widget__card {
  width: 39.0667rem;
  max-width: 95vw;
  min-height: 32rem;
  max-height: 80vh;
  background: #fff;
  border-radius: 0.8rem;
  box-shadow: 0 0.1333rem 0.8rem rgba(0, 0, 0, 0.07);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 2.6667rem 2.6667rem;
}

.login-widget__card-title {
  font-size: 1.8667rem;
  font-weight: 700;
  color: #222a3a;
  margin-bottom: 0.4667rem;
  text-align: left;
}

.login-widget__card-desc {
  color: #8d8d8d;
  font-size: 1.3333rem;
  margin-bottom: 2.6667rem;
  text-align: left;
}
