/* .page_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
}

.header_left {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.page_content {
  position: relative;
  width: 100%;
} */

/* 사이드바 위치 조정 */
/* .contract-detail-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 33rem;
  z-index: 100;
} */
