/* .page_section.with-sidebar {
  padding-right: 33rem;
  transition: all 0.3s ease-in-out;
}

.page_content {
  position: relative;
  width: 100%;
  flex: 1;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.shared-inquiry-detail-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 33rem;
  z-index: 100;
  transition: all 0.3s ease-in-out;
}

.shared-inquiry-table-container {
  flex: 1;
  overflow: auto;
  max-height: 100%;
  transition: all 0.3s ease-in-out;
} */
