.profile-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100vw;
  gap: 3.333rem;
  margin-top: 3.067rem;
  box-sizing: border-box;
  padding-bottom: 5.3333rem;
}

.profile-details {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  min-width: 0;
  align-items: stretch;
  box-sizing: border-box;
  flex-shrink: 1;
  padding-bottom: 5.3333rem;
}

.profile-summary-box,
.profile-introduce-box,
.profile-company-box {
  padding: 2rem;
  border: 0.067rem solid #DDE2F2;
  border-radius: 0.533rem;
  box-shadow: 0 0 1.667rem -0.667rem #b1b6c7;
  background-color: #FFFFFF;
  width: 100%;
  height: auto;
  font-family: Pretendard;
  box-sizing: border-box;
}

.profile-company-box {
  min-height: 43.7333rem;
}

.profile-summary-title,
.profile-company-title,
.profile-introduce-title {
  font-size: 1.6rem;
  font-weight: 600;
  color: #1b1b1b;
  padding-bottom: 0.46667rem;
}

.profile-company-title {
  padding-bottom: 3rem;
}

.profile-summary-sub,
.profile-introduce-sub {
  font-size: 1.067rem;
  color: #8D8D8D;
}

.profile-summary-sub {
  padding-bottom: 2.6667rem;
}

.profile-summary-photo {
  width: 9.333rem;
  height: 9.333rem;
  border-radius: 50%;
  background-color: #EDEDED;
  margin: 0 auto;
}

.profile-summary-name {
  text-align: center;
  margin: 0;
  font-weight: 600;
  font-size: 1.6rem;
  padding-top: 1.6rem;
  padding-bottom: 0.8rem;
  color: #1b1b1b;
}

.profile-summary-company {
  text-align: center;
  font-size: 1.2rem;
  color: #8D8D8D;
  margin-bottom: 1.333rem;
}

.profile-summary-divider {
  border: 0.0667rem solid #D4D8E5;
  margin: 2.8rem auto;
  width: 22.667rem;
}

.profile-summary-frame {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}

.profile-summary-frame:last-child {
  padding-bottom: 1.8667rem;
}

.profile-summary-label,
.profile-company-label {
  color: #8D8D8D;
  font-weight: 500;
  font-size: 1.2rem;
  padding-bottom: 0.467rem;
}

.profile-summary-value,
.profile-company-value {
  font-weight: 500;
  color: #1b1b1b;
  font-size: 1rem;
}

.profile-introduce-text {
  font-size: 1rem;
  font-weight: 500;
  padding-top: 2rem;
}

.profile-company-frame {
  display: flex;
  flex-direction: column;
  padding-bottom: 2.333rem;
}

.profile-photo-frame {
  display: flex;
  flex-direction: row;
  gap: 0.667rem;
  padding-top: 0.8667rem;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 2rem;
}

.profile-company-img {
  background-color: #E8EDFF;
  width: 100%;
  max-width: 34.2667rem;
  height: auto;
  aspect-ratio: 514 / 289;
  border-radius: 0.4rem;
  flex-shrink: 1;
}

.edit-property-button {
  position: absolute;
  top: 1.333rem;
  right: 0.5rem;
}

@media screen and (max-width: 68.2667rem) {
  .profile-container {
    flex-direction: column;
    gap: 1.5rem;
    align-items: stretch;
  }

  .profile-summary,
  .profile-details,
  .profile-introduce-box,
  .profile-company-box {
    width: 100%;
  }

  .profile-photo-frame {
    flex-direction: column;
    gap: 0.667rem;
  }

  .profile-company-img {
    width: 100%;
    height: auto;
  }

  .edit-property-button {
    padding-top: 2rem;
    position: static;
    margin-left: auto;
  }
}
