/* 데스크탑 뷰 */
.sidebarContainer {
  width: 18rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 테블릿 뷰 */
@media (max-width: 1200px) {
  .sidebarContainer {
    width: 16rem;
  }
}

/* 모바일 뷰 */
@media (max-width: 768px) {
  .sidebar-container {
    width: 14rem;
  }
}

/* 로고 컨테이너 */
.logoContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.75rem;
  padding: 2.2rem 2.4rem;
  text-decoration: none;
  background-color: #1c2882;
}

/* 로고 이미지 */
.logoImage {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: middle;
  margin-bottom: 4px; /* 미세 조정으로 로고를 아래로 내림 */
}

/* 테블릿 뷰 */
@media (max-width: 1200px) {
  .logoImage {
    width: 1.75rem;
    height: 1.75rem;
  }
}

/* 모바일 뷰 */
@media (max-width: 768px) {
  .logoImage {
    width: 1.5rem;
    height: 1.5rem;
  }
}

/* 로고 텍스트 */
.logoText {
  color: white;
  font-size: 1.9rem;
  font-weight: 600;
  margin: 0;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
}

/* 메뉴 컨테이너 */
.menuContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1.9rem 0;
}

/* 메뉴 아이템 공통 스타일 */
.menuItem,
.footerItem {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  gap: 1rem;
  margin: 0.9rem;
  text-decoration: none;
  margin-left: 0.9rem;
  margin-right: 0.9rem;
}

/* 활성화된 아이템 */
.menuItem.active,
.footerItem.active {
  background-color: #1c2882;
  color: white;
  border-radius: 0.5rem;
}

/* 비활성화된 아이템 */
.menuItem.disabled {
  cursor: default;
  opacity: 0.5;
}

/* 메뉴 아이콘 */
.menuIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.menuIcon img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

/* 메뉴 텍스트 */
.menuText {
  font-family: "Pretendard";
  font-size: 1.2rem;
  font-weight: 600;
}

.menuItem.active .menuText,
.footerItem.active .menuText {
  color: white;
}

.menuItem:not(.active) .menuText,
.footerItem:not(.active) .menuText {
  color: #666;
}

/* 활성화된 아이템의 아이콘은 흰색 필터 적용 */
.menuItem.active .menuIcon img,
.footerItem.active .menuIcon img {
  filter: brightness(0) invert(1);
}

/* 사이드바 푸터 */
.sidebarFooter {
  border-top: 1px solid #eee;
  padding: 1rem 0;
  margin-top: auto;
}
