/* .page_content {
  position: relative;
  width: 100%;
  flex: 1;
  overflow: hidden;
}

.page_content.with-sidebar .property-table-container {
  width: calc(100% - 33rem);
}

.property-detail-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 33rem;
  z-index: 100;
}

.property-table-container {
  flex: 1;
  overflow: auto;
  max-height: 100%;
} */
